#### Q1. How do you comment code in Python? What are the different types of comments?

In python I would use '#' for single line comment and """ """ for multiple line comment.

Single line comment and Multiline comment anre the types of comment in python.

In [14]:
#e.g.

# This is single line comment.

"""
This is a multiline
comment.
"""
print("Hello, World!")

Hello, World!

#### Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are the containers to store certain value.

There is no keyword in python to declare variable, the variable will be created as the value is assigned to it.

In [17]:
#e.g

#These are variables.

a=5
b="String"

print(a)
print(b)

5
String

#### Q3. How do you convert one data type to another in Python?

In Python one data type can be converted to another by typecasting. It is done by using certain built in function.

In [20]:
#e.g

#string to integer

x='1'
type(x)

str

In [21]:
x=int(x)
type(x)

int

In [22]:
#integer to string

y=5
type(y)

int

In [23]:
y=str(y)
type(y)

str

In [24]:
#list to set

a=[1,2,3,7,4,9]
type(a)

list

In [26]:
a=set(a)
type(a)

set

Similarly float() can be used to convert any data type to float, list() for list, tuple() for tuple etc.

#### Q4. How do you write and execute a Python script from the command line?

To write and execute a python script from command line we can do following:

*Create a python script:*  
C:\Users\Computer\Desktop>cd.>script.py

*Write into the script:*  
C:\Users\Computer\Desktop>echo print("Hello World")>script.py

*Execute the script:*  
C:\Users\Computer\Desktop>python script.py
Hello World.

#### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [30]:
my_list=[1,2,3,4,5]

print(my_list[1:3])

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex number is collection of real and imaginary number written in the form 'x+iy' where x and y are real number but i is imaginary.

In python it is written in the form 'x+jy' where x and y are real number but j is imaginary.

In [32]:
#e.g

type(5+4j)

complex

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [34]:
#To declare variable named age following can be done

age=25
age=int(25)

#both will be of datatype integer.

#### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [35]:
price=9.99
type(price)

float

The data type will be float.

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [36]:
name="Sambhav Pyakurel"

#To print

print(name)

Sambhav Pyakurel

#### Q10. Given the string "Hello, World!", extract the substring "World".

In [39]:
str="Hello World"
str[6:]

'World'

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [ ]:
is_student=True

#The value would be False if I was not a student.