Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#String

a='String'

type(a)

str

In [2]:
#list

li=[1,2.2,'str']

type(li)

list

In [3]:
#float

b=1.9

type(b)

float

In [4]:
#tuple

tup=(1,2.2,'str')

type(tup)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

var1 = String
var2 = String
var3 = List
var4 = float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [6]:
# /: '/' is division operator. It is used to find the quotient of a division. 

#e.g.

5/6

#here 0.8333 is the quotient of the division of 5 by 6.

0.8333333333333334

In [16]:
# %: '%' is Modulus operator. It is used to find the reminder of a division.

#e.g.

10%3

# here 1 is the reminder of the division of 10 by 3.

1

In [21]:
# //: '//' is floor division operator. It is used the find the integer part of quotient of the division.

#e.g.

10//3


#here 3 is the output which is the integer part of the quotient. Had we used '/' only insted of '//' output would be 3.33333.

3

In [22]:
# **: '**' is Exponentiation operator. It is used to find the value of exponent to base.

#e.g.

2**3

# here 8 is the value of 2 raise to power 3.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
mylist=[1,2,3,4,5,'str1','str2',True,2.3,4+5j]

for i in mylist :
    print("element:",i,"\t\t datatype:",type(i))

element: 1 		 datatype: <class 'int'>
element: 2 		 datatype: <class 'int'>
element: 3 		 datatype: <class 'int'>
element: 4 		 datatype: <class 'int'>
element: 5 		 datatype: <class 'int'>
element: str1 		 datatype: <class 'str'>
element: str2 		 datatype: <class 'str'>
element: True 		 datatype: <class 'bool'>
element: 2.3 		 datatype: <class 'float'>
element: (4+5j) 		 datatype: <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [38]:
A=int(input("Enter the number A:"))
B=int(input("Enter the number B:"))
C=A;
c=0;
while A%B==0 :
    A=A//B
    c+=1;

if c>0 :
    print(C,"is divisible by ",B,"," ,c ,"times.");
else :
    print(C," is not divisible by ",B);

Enter the number A: 8
Enter the number B: 2

8 is divisible by  2 , 3 times.

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [45]:
li=[1,2,3,4,5,6,7,8,9,100,25,21,23,56,39,88,12,77,89,33,132,231,456,654,789]

for i in li :
    if i%3==0 :
        print(i,"is divisible by 3.")
    else :
        print(i,"is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
100 is not divisible by 3.
25 is not divisible by 3.
21 is divisible by 3.
23 is not divisible by 3.
56 is not divisible by 3.
39 is divisible by 3.
88 is not divisible by 3.
12 is divisible by 3.
77 is not divisible by 3.
89 is not divisible by 3.
33 is divisible by 3.
132 is divisible by 3.
231 is divisible by 3.
456 is divisible by 3.
654 is divisible by 3.
789 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

For Mutable data types the specific element of the variable can be changed.
For Immutable data types the specific element of the variable cannot be changed.

In [50]:
#e.g. mutalble datatype

mylist=[1,2,3,'Str']
mylist[3]='string'
print(mylist)

[1, 2, 3, 'string']

Here the element of index 3 is changed from 'str' to 'string'. Which is one of the element of the variable mylist of datatype list that implies specific data of this variable can be changed. Therefore the list is a mutable datatype.

In [51]:
#e.g. immutable datatype

mytuple=(1,2,3,'str')
mytuple[3]='string'
print(mytuple)

TypeError: 'tuple' object does not support item assignment

Here tuple is an immutable datatype that is why the specific data in the variable mytuple couldn't be changed.