#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular non-relational (NoSQL) database management system that provides a flexible and scalable approach to storing and managing data. It is designed to handle unstructured, semi-structured, and rapidly changing data.

Non-Relational databases are basically the databases that do not use Schema. They prioritize scalability and efficiency. They supports various datatypes such as JSON,Graphs,documents etc. Which allows them to be diverse and generally used to store unstructured data.

If the data to be managed is unstructured and are in other format than tabular form, MongoDB is preferred over the SQL.

#### Q2. State and Explain the features of MongoDB.

1. Flexible and Evolving Data Structures: MongoDB is well-suited for applications with dynamic and evolving data models where the structure of data may change frequently. It allows for schema flexibility and does not require predefined table structures.

2. Large Amounts of Unstructured Data: MongoDB excels at handling unstructured or semi-structured data, such as documents, JSON data, or binary files. It allows for efficient storage and retrieval of complex data structures.

3. High Scalability and Performance: MongoDB's distributed architecture and horizontal scaling capabilities make it a good choice for applications that need to handle large amounts of data and high traffic loads. It can distribute data across multiple servers to ensure scalability and performance.

4. Agile Development and Rapid Prototyping: MongoDB's flexibility and ease of use make it suitable for agile development environments where requirements may change frequently. Its document-oriented model aligns well with object-oriented programming and enables faster development cycles.

5. Real-Time Analytics and Big Data: MongoDB's ability to handle large volumes of data and its support for real-time analytics and big data processing make it suitable for applications that require real-time insights and analysis of rapidly changing data.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 32.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 34.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [5]:

from pymongo.mongo_client import MongoClient

url = "mongodb+srv://sambhavpyakurel10:Bhawana16@cluster0.pz6xfuv.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(url)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [20]:
db=client['database1']
coll=db['collection1']

In [21]:
client.list_database_names()

['database1', 'db1', 'db2', 'admin', 'local']

In [19]:
db.list_collection_names()

['collection1']

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [88]:
data1 = {"name": "John", "age": 30}

data1 = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 35},
    {"name": "Eve", "age": 28}
]

In [11]:
coll.insert_one(data)

In [24]:
coll.insert_many(data1)

In [87]:
print(coll.find_one({'name':'John'}))

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}

In [86]:
for i in coll.find():
    print(i)

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ed'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ee'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ef'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f0'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f1'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f2'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f3'), 'name': 'Eve', 'age': 28}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

find() method is used to query out multiple data from the MongoDB database.
find can be used to extract certain data from the database by constraining the parameters or can be used to retrive all data if not constrained.

In [85]:
#let the dataset be of previous question.

for i in coll.find():
    print(i)

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ed'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ee'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ef'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f0'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f1'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f2'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f3'), 'name': 'Eve', 'age': 28}

As show in the code above find object is used to retrive all data in the collection and an object i is used to access them and print them.

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Sort() is a method that is used to sort the data given according to the given parameters as shown in the example below.

In [84]:
for i in coll.find().sort('name'):
    print(i)

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ed'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f1'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ee'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f2'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ef'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f3'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f0'), 'name': 'John', 'age': 30}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [90]:
#delete_one: deletes one record.

coll.delete_one({'name':'Alice'})

In [97]:
for i in coll.find():  
    print(i)

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ee'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ef'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f0'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f1'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f2'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f3'), 'name': 'Eve', 'age': 28}

First record with name alice is deleted when delete_one is used.

In [99]:
#delete_many: deletes many record.

coll.delete_many({'age':{'$gt':30}})

In [100]:
for i in coll.find():
    print(i)

{'_id': ObjectId('64a6b9d87b0d135b8c83a0ec'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9d87b0d135b8c83a0ef'), 'name': 'Eve', 'age': 28}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f0'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f1'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('64a6b9e17b0d135b8c83a0f3'), 'name': 'Eve', 'age': 28}

delete_many deleted all the records where age was greater than 30.

In [101]:
#drop: deletes entire record.

coll.drop()

In [107]:
for i in coll.find():
    print(i)

drop deleted entire data so no data is showing up.